---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
	font-size: 130%;
}

body {
	background: LavenderBlush;
//	#edd;
	font-size: 100%;
	font-family: garamond, serif;
	color: $black;
	line-height: normal;
}

.container {
	margin: 0 auto;
	max-width: 42em;
	padding: 0 10px;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Didot;
	color: $black;
	font-weight: bold;
	clear: left;

	line-height: 1.7;
	margin: 1em 0 15px;
	padding: 0;

	@include mobile {
		line-height: 1.4;
	}
}

h1 {
	font-size: 250%; // 30px;
	a {
		color: inherit;
	}
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 100%;
	color: $gray;
}

p {
	margin: 15px 0;
}

a {
	color: $blue;
	text-decoration: none;
	cursor: pointer;
	&:hover, &:active {
		color: $blue;
	}
}

ul, ol {
	margin: 15px 0;
	padding-left: 30px;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
	margin: 0;
}

ul ul, ol ul {
	list-style-type: circle;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

img {
	max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
	max-width: none;
}

//
// Specify the color of the selection
::-moz-selection {
	color: $black;
	background: $lightGray;
}
::selection {
	color: $black;
	background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
		content: " ";
		display: table;
}

.clearfix:after {
		clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
	margin-bottom: 50px;
}

.masthead {
	padding: 20px 0;
//	border-bottom: 10px solid $lightGray;
	text-align: center
}

.site-avatar {
	float: center;

	@include mobile {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

.site-info {
	float: center;

	@include mobile {
		float: none;
		display: block;
		margin: 0 auto;
	text-align: center;
	}
}

.site-name {
	margin: 0;
	color: $darkGray;
	cursor: pointer;
	font-size: 150%;
	letter-spacing: 1px;
}

.site-description {
	margin: -5px 0 0 0;
	color: $gray;
	font-size: 16px;

	@include mobile {
		margin: 3px 0;
	}
}

nav {
	float: center;
	clear: left;
	font-size: 25px;

	@include mobile {
		float: none;
		margin-top: 9px;
		display: block;
		font-size: 16px;
	}

	a {
		margin-right: 20px;
		color: $darkGray;

		@include mobile {
			margin: 0 10px;
			color: $blue;
		}
	}
}

//
// .main
//

.wrapper-footer {
	margin-top: 50px;
	padding-bottom: 90px;
	border-top: 10px solid #000;
//	border-bottom: 1px solid #ddd;
	background-color: #dbd0d0;
	background-image: url(images/cat-footer.jpg);
	background-repeat: repeat;
	background-attachment: fixed; // scroll;
	background-position: bottom;
	background-size: 100%;
	clear: both;
}

footer {
	padding: 20px 0;
	text-align: center;
}
